/* style.css */
.navbar {
    padding: 30px; /* Adjust padding as needed */
    width: 100%;
    position: absolute;
   
  }
  
  .navbar-brand {
    padding-left: 140px;
    font-size: 40px; /* Decreased font size for better proportion */
    word-spacing: 5px; /* Decreased word spacing */
  }
  
  .navbar-expand .navbar-nav .nav-link {
   
    padding-left: 30px; /* Decreased padding */
    padding-right: 40px; /* Decreased padding */
    font-size: 25px; /* Decreased font size */
    color: white;
    transition: all 0.3s ease;
  }
  
  .navbar-expand .navbar-nav .nav-link:hover {
    transform: scale(1.1); /* Adjusted scaling */
    color: darkcyan;
  }

  .figure {
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .figure-img {
    width: 600px;
  }

  .text-container {
    position: absolute;
    top: 48%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  .h1{
    color:#336699;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
  }

  .text-p {
    padding: 30px 0 10px 0;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 200;
  }