/* style.css */
.navbar {
    padding: 30px; /* Adjust padding as needed */
    width: 100%;
    position: absolute;
   
  }
  
  .navbar-brand {
    padding-left: 140px;
    font-size: 40px; /* Decreased font size for better proportion */
    word-spacing: 5px; /* Decreased word spacing */
  }
  
  .navbar-expand .navbar-nav .nav-link {
   
    padding-left: 30px; /* Decreased padding */
    padding-right: 40px; /* Decreased padding */
    font-size: 25px; /* Decreased font size */
    color: white;
    transition: all 0.3s ease;
  }
  
  .navbar-expand .navbar-nav .nav-link:hover {
    transform: scale(1.1); /* Adjusted scaling */
    color: #336699;
  }
  
  .welcome-container {
    position: absolute;
    width: 50%; /* Adjust width as needed */
    top: 20%;
    left: 25%;
    text-align: center;
    padding: 20px;
   
  }

  .main-header {
    font-size: 50px;
    color: #336699;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
  }

  .main-p {
    font-size: 25px;
    font-weight: 300;
    padding-top: 25px;
  }

  .figure {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
  }

  .figure-img {
    width: 600px;
  }
  .custom-image2{
    width: 600px;
    height: 300px;
  }

  .text-container {
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  .h1{
    color:#336699;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
  }

  .text-p {
    padding: 30px 0 10px 0;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 200;
  }

  .view-btn {
    border: 0;
    background-color: #336699;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    transition: all 0.3s ease;
  }

  .view-btn:hover {
    transform: scale(1.1);
    
  }

 /* Adjustments for the second figure and text */
.custom-figure2 {
  position: absolute;
  top: 120%; /* Adjust position based on your layout */
  left: 55%; /* Positioning the second figure to the right */
  transform: translate(0, -50%); /* Adjust as needed */
  padding-bottom: 40px;
}

.text-container2 {
  position: absolute;
  top: 125%; /* Adjust position based on your layout */
  left: 10%; /* Positioning the text to the left */
  transform: translate(0, -50%); /* Adjust as needed */
  width: 40%; /* Adjust width as per your design */
  text-align: left; /* Ensure text aligns left */
  padding-bottom: 50px;
}
